/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@layer colors {
  :root {
    --color-blue-900: #005BA5;
    --color-blue-700: #0072CE;
    --color-blue-500: #338ED8;
    --color-blue-300: #80B9E7;
    --color-blue-100: #F0F7FC;
    --color-navy-900: #001E2E;
    --color-navy-700: #00263A;
    --color-navy-500: #335161;
    --color-navy-300: #80939D;
    --color-navy-100: #E6E9EB;
    --color-green-900: #006A4E;
    --color-green-700: #008561;
    --color-green-500: #339D81;
    --color-green-300: #80C2B0;
    --color-green-100: #E6F3EF;
    --color-purple-900: #5E2F97;
    --color-purple-700: #753BBD;
    --color-purple-500: #9162CA;
    --color-purple-300: #BA9DDE;
    --color-purple-100: #F1EBF8;
    --color-yellow-900: #F3D03E;
    --color-yellow-700: #F5D965;
    --color-yellow-500: #F9E89F;
    --color-yellow-300: #FBF1C5;
    --color-yellow-100: #FEFAEC;
    --color-red-900: #B40000;
    --color-red-700: #E10000;
    --color-red-500: #E73333;
    --color-red-300: #F08080;
    --color-red-100: #FDF1F1;
    --color-orange-900: #FFA400;
    --color-orange-700: #FFB633;
    --color-orange-500: #FFC866;
    --color-orange-300: #FFDB99;
    --color-orange-100: #FFF6E6;
    --color-tan-900: #88796A;
    --color-tan-700: #A6917F;
    --color-tan-500: #B7A799;
    --color-tan-300: #C9BDB4;
    --color-tan-100: #DCD2CB;
    --color-greyscale-900: #1A2228;
    --color-greyscale-800: #28333B;
    --color-greyscale-700: #35444F;
    --color-greyscale-600: #40505B;
    --color-greyscale-500: #647281;
    --color-greyscale-400: #94A0A9;
    --color-greyscale-300: #B3BBC1;
    --color-greyscale-200: #D9DDE0;
    --color-greyscale-100: #F3F5F7;
    --color-black: #111921;
    --color-white: #FFFFFF;
  }
}
@layer brand {
  :root {
    --brand-primary-blue: var(--color-blue-700);
    --brand-primary-navy: var(--color-navy-700);
    --brand-secondary-green: var(--color-green-700);
    --brand-secondary-purple: var(--color-purple-700);
    --brand-tertiary-blue: #85D1F9;
    --brand-tertiary-green: #1DD899;
    --brand-tertiary-purple: #A197FF;
    --brand-tertiary-yellow: #F3D03E;
  }
}
@layer typography {
  :root {
    --font-xs: .75rem;
    --font-sm: .875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-xxl: 1.5rem;
    --font-hero: "League Spartan", sans-serif;
    --font-primary: "Source Sans 3", sans-serif;
    --font-secondary: "Barlow", sans-serif;
    --font-icon: "Font Awesome 6 Pro";
    --text-default: var(--color-greyscale-900);
    --text-secondary: var(--color-greyscale-600);
    --text-placeholder: var(--color-greyscale-500);
    --text-affirmative: var(--color-green-700);
    --font-label: 400 var(--font-sm)/1 var(--font-primary);
    --font-toggle: 400 .625rem/1 var(--font-primary);
  }
}
@layer utility {
  :root {
    --divider: var(--color-greyscale-200);
    --nav-height: 3rem;
    --affirmative: var(--color-green-700);
  }
}
.m-grid--center {
  display: grid;
  place-items: center;
}

.m-toggle__title {
  font: var(--font-label);
}

.m-component--toggle {
  /* Component Variables */
  --toggle-height: 1rem;
  --toggle-bg-active: var(--affirmative);
  --toggle-bg-inactive: var(--color-greyscale-400);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.m-component--toggle input {
  display: none;
}
.m-toggle__indicator {
  display: flex;
  align-items: center;
  height: var(--toggle-height);
  min-width: calc(var(--toggle-height) * 2);
  border-radius: 50vmax;
  background: var(--toggle-bg-inactive);
  padding: 0.125rem;
  transition: 200ms background ease-in-out;
}
.m-toggle__indicator:hover {
  cursor: pointer;
}

.m-toggle__slide {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50vmax;
  background: var(--color-white);
  margin-right: auto;
}

.m-toggle__label--inactive,
.m-toggle__label--active {
  font: var(--font-toggle);
  color: var(--color-white);
  text-transform: uppercase;
}

.m-toggle__label--active {
  display: none;
}

.m-toggle__status:checked + .m-toggle__indicator {
  background: var(--toggle-bg-active);
}
.m-toggle__status:checked + .m-toggle__indicator .m-toggle__label--active {
  display: inline;
}
.m-toggle__status:checked + .m-toggle__indicator .m-toggle__label--inactive {
  display: none;
}
.m-toggle__status:checked + .m-toggle__indicator .m-toggle__slider {
  margin-inline: 0 auto;
}

body {
  background: pink;
}/*# sourceMappingURL=styles.css.map */