:root {

    --breadcrumb-text:         var(--text-body-primary);
    --breadcrumb-text-hover:   var(--color-blue-700);
    --breadcrumb-icon:         var(--text-body-secondary);
    --breadcrumb-underline:    var(--color-greyscale-400);

}

.m-list--breadcrumbs {
    display: flex;
}

.m-breadcrumb__item {
    white-space: nowrap;

    &:not(:first-child)::before {
        content: '\f105';
        font: 400 .625rem/1 var(--font-icon);
        margin-inline: .5rem;
        color: var(--breadcrumb-icon);
    }

}

.m-breadcrumb__link {
    font: var(--font-regular) var(--font-sm)/1 var(--font-primary);
    color: var(--breadcrumb-text);
    text-decoration-color: var(--breadcrumb-underline);
    text-underline-offset: .125rem;

    .m-breadcrumb__item:last-of-type & {
        pointer-events: none;
        text-decoration: none;
        font-weight: var(--font-semi);
    }

    &:hover {
        text-decoration: none;
        color: var(--breadcrumb-text-hover);
    }
}

// @media (prefers-color-scheme: dark) {

//     :root {
//         --breadcrumb-text: var(--color-white);
//         --breadcrumb-icon: var(--color-greyscale-100);
//         --breadcrumb-underline: var(--brand-tertiary-yellow);
//     }
// }