button:not([disabled]) {
    cursor: pointer;
}

.m-btn {

    --btn-color: var(--color-blue-700);
    --btn-border: var(--color-greyscale-300);
    --btn-fontsize: var(--font-md);
    --btn-height: 2rem;
    --btn-pi: 1.125em;

    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: var(--btn-pi);
    gap: .5em;
    border-radius: 4px;
    block-size: var(--btn-height);
    background: var(--btn-color);
    color: var(--color-white);
    font: var(--font-medium) var(--btn-fontsize)/1 var(--font-body);

    &:focus-visible {
        outline: 2px solid var(--color-blue-700);
        outline-offset: 1px;
    }

    &:hover {
        background: color-mix(in oklab, var(--btn-color), black 10%);
    }

    &[disabled] {
        pointer-events: none;
        opacity: .5;
    }

    /* Inset Button Indicators (This may be better in the indicator component area with a slot) */
    .m-indicator {
        display: grid;
        place-items: center;
        background: color-mix(in oklab, var(--btn-color), black 20%);
        color: var(--btn-indicator-text);
        border-radius: 1rem;
        padding-inline: .5rem;
        padding-block: .25em .15em;
        font-size: 80%;
    }
}


.m-btn__label {
    white-space: nowrap;
}


.m-btn__icon--leading,
.m-btn__icon--trailing {

    &::before {
        font-size: 100%;
        display: grid;
        place-items: center;
        height: calc(100% - .5rem);
        border-radius: 2px;
    }
}




/* Color Variations */

.m-btn--primary {
    --btn-color: var(--color-blue-700);
}


.m-btn--secondary {
    --btn-color: var(--color-navy-700);
}


.m-btn--tertiary {
    --btn-color: var(--color-purple-700);
}


.m-btn--destructive {
    --btn-color: var(--destructive);
}


.m-btn--darken {
    --btn-color: var(--color-black);
}


.m-btn--lighten {
    --btn-color: var(--color-white);
}


.m-btn--darken,
.m-btn--lighten {
    background: color-mix(in oklab, var(--btn-color) 15%, transparent);
    color: var(--btn-color);

    &:hover {
        background: color-mix(in oklab, var(--btn-color) 20%, transparent);
    }

    .m-indicator {
        background: color-mix(in oklab, var(--btn-color) 15%, transparent);
        color: inherit;
    }

    &.m-btn--outline {
        background: transparent;
        border-color: color-mix(in oklab, var(--btn-color) 15%, transparent);

        &:hover {
            background: color-mix(in oklab, var(--btn-color) 20%, transparent);
            border-color: transparent;
        }
    }
}


.m-btn--neutral {
    --btn-color: var(--color-greyscale-100);

    color: var(--color-greyscale-600);

    &:hover {
        background: color-mix(in oklab, var(--btn-color), black 3%);
    }

    .m-indicator {
        color: inherit;
        background: rgb(0 0 0 / 10%);
    }
}




/* Style Variations */

.m-btn--text,
.m-btn--outline {
    background: unset;
    color: var(--btn-color);

    &:hover {
        background: unset;
        border-color: inherit;
    }

    .m-indicator {
        background: color-mix(in oklab, var(--btn-color) 20%, transparent);
        color: var(--btn-color);
    }

    &.m-btn--neutral {
        color: inherit;

        .m-indicator {
            background: rgb(0 0 0 / 10%);
            color: var(--color-greyscale-900);
        }
    }
}


.m-btn--outline {
    border: 1px solid var(--btn-border);
}


.m-btn--text {

    &:hover {
        background: color-mix(in oklab, var(--btn-color) 5%, transparent);
    }
}




/* Size Variations */

.m-btn--sm {
    --btn-height: 1.5rem;
    --btn-fontsize: var(--font-sm);
}


.m-btn--lg {
    --btn-height: 2.5rem;
    --btn-fontsize: var(--font-md);
}

.m-btn--pill {
    border-radius: 2rem;
}




/* Icon Button */

.m-btn--icon {
    aspect-ratio: 1;
    padding-inline: 0;

    :is(i:nth-of-type(n+2), .m-btn__label) {
        display: none;
    }

    &:has(.m-indicator) {
        padding-inline: calc(var(--btn-pi) / 1.5);
        gap: .5em;
    }
}




/* Loading State */

.is-loading {
    pointer-events: none;

    :is(i, span, .m-indicator) {
        visibility: hidden;

        &:first-child::after {
            content: '\f3f4';
            position: absolute;
            inset: 0;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            block-size: var(--btn-height);
            aspect-ratio: 1 / 1;
            opacity: .5;
            visibility: visible;
            font: 400 var(--font-xl)/1 "Font Awesome 6 Pro";
            animation: loading 800ms ease-in-out infinite;
        }
    }
}




/* Loading Animation */

@keyframes loading {

    0% {
        rotate: -60deg;
    }

    90%,
    100% {
        rotate: 300deg;
    }
}