.m-expandable__item {
    display: grid;
}

.m-expandable__origin {
    justify-content: space-between;
}

.m-expandable__icon {
    color: var(--color-greyscale-400);
    transition: 100ms rotate;

    .is-expanded & {
        rotate: 180deg;
    }
}

.m-expandable__target {
    display: grid;
    grid-template-rows: 0fr;
    margin-block: 0;
    opacity: 0;
    visibility: hidden;
    transition: 200ms all;

    .is-expanded + & {
        opacity: 1;
        visibility: visible;
        grid-template-rows: 1fr;

        .m-expandable__body {
            margin-block: .5rem;
        }
    }
}

.m-expandable__body {
    overflow: hidden;
}