.m-component--indicator {
    /* Local Variables */
    --indicator-height: 1.25rem;
    --indicator-label-size: 0.75rem;
    --indicator-text: var(--color-white);
    --indicator-bg: var(--color-blue-700);
    --indicator-icon-size: var(--font-xs);
    --indicator-border: var(--color-greyscale-300);

    display: inline-flex;
    align-items: center;
    background: var(--indicator-bg);
    padding-inline: 0.5rem;
    border-radius: 50vmax;
    height: var(--indicator-height);
    gap: 0.125rem;
    user-select: none;

    color: var(--indicator-text);
}

.m-indicator__icon--leading,
.m-indicator__icon--trailing {
    font-size: var(--indicator-icon-size);
    display: grid;
    place-items: center;
    height: 100%;
    aspect-ratio: 1;
    padding-top: 1px;

    &::before {
        display: grid;
        place-items: center;
        aspect-ratio: 1;
    }
}

.m-indicator__label {
    position: relative;
    top: -0.0625rem;
    font:
        400 var(--indicator-label-size) 'Barlow',
        sans-serif;
    white-space: nowrap;

    &:is(:first-child) {
        padding-inline-start: 0.25rem;
    }

    &:is(:last-child) {
        padding-inline-end: 0.25rem;
    }

    &::before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
    }
}

/* Outline Styles */

.m-indicator--outline {
    border: 1px solid;
    border-color: var(--indicator-border);
    --indicator-bg: var(--color-greyscale-100);
    --indicator-text: var(--color-greyscale-700);
    --indicator-border: var(--color-greyscale-200);

    &.m-indicator--primary {
        --indicator-text: var(--color-blue-700);
        --indicator-border: var(--color-blue-300);
        --indicator-bg: var(--color-blue-100);
    }

    &.m-indicator--secondary {
        --indicator-text: var(--color-navy-700);
        --indicator-border: var(--color-navy-300);
        --indicator-bg: var(--color-greyscale-100);
    }

    &.m-indicator--tertiary {
        --indicator-text: var(--color-purple-700);
        --indicator-border: var(--color-purple-300);
        --indicator-bg: var(--color-purple-100);
    }

    &.m-indicator--affirmative {
        --indicator-text: var(--color-green-700);
        --indicator-border: var(--color-green-300);
        --indicator-bg: var(--color-green-100);
    }

    &.m-indicator--destructive {
        --indicator-text: var(--color-red-700);
        --indicator-border: var(--color-red-300);
        --indicator-bg: var(--color-red-100);
    }

    &.m-indicator--supportive {
        --indicator-text: var(--color-greyscale-700);
        --indicator-border: var(--color-yellow-300);
        --indicator-bg: var(--color-yellow-100);
    }

    &.m-indicator--lighten {
        --indicator-border: rgb(255 255 255 / 0.2);
    }

    &.m-indicator--darken {
        --indicator-border: rgb(0 0 0 / 0.2);
    }
}

/* Solid Styles */

.m-indicator--primary {
    --indicator-bg: var(--color-blue-700);
}

.m-indicator--secondary {
    --indicator-bg: var(--color-navy-700);
}

.m-indicator--tertiary {
    --indicator-bg: var(--color-purple-700);
}

.m-indicator--affirmative {
    --indicator-bg: var(--color-green-700);
}

.m-indicator--destructive {
    --indicator-bg: var(--color-red-700);
}

.m-indicator--neutral {
    --indicator-bg: var(--color-navy-100);
    --indicator-text: var(--text-default);
}

.m-indicator--neutral {
    --indicator-bg: var(--color-greyscale-100);
}

.m-indicator--lighten {
    --indicator-bg: rgb(255 255 255 / 0.1);
    --indicator-text: var(--color-white);
}

.m-indicator--darken {
    --indicator-bg: rgb(0 0 0 / 0.1);
    --indicator-text: var(--text-default);
}

/* Text Styles */

.m-indicator--text {
    background: none;

    &.m-indicator--primary {
        color: var(--color-blue-700);
    }

    &.m-indicator--secondary {
        color: var(--color-navy-700);
    }

    &.m-indicator--tertiary {
        color: var(--color-purple-700);
    }

    &.m-indicator--affirmative {
        color: var(--color-green-700);
    }

    &.m-indicator--destructive {
        color: var(--color-red-700);
    }

    &.m-indicator--supportive {
        color: var(--color-yellow-700);
    }

    &.m-indicator--neutral {
        color: var(--color-greyscale-700);
    }
}

/* Indicator Sizes */

.m-indicator--lg {
    --indicator-height: 1.5rem;
    --indicator-label-size: 0.875rem;
}
