.m-page--profile-menu {
    background: var(--color-greyscale-100);
}

.m-has-menu {
    position: relative;
}


.m-menu__origin {
    position: relative;
    cursor: pointer;

    &.is-active::before {
        opacity: 1;
        visibility: visible;
    }
}

/* Comment */

.m-menu {
    position: absolute;
    padding-block: .5rem;
    padding-inline: 1rem;
    border-radius: .25rem;
    min-inline-size: 15rem;
    margin: 0;
    background: var(--color-white);
    box-shadow: var(--elevation-dropdown);

    &::-webkit-scrollbar {
        width: .75rem;
    }

    &::-webkit-scrollbar-thumb {
        border: .25rem solid var(--color-white);
        background: var(--color-greyscale-300);
        border-radius: 2rem;
        border-top-width: .5rem;
        border-bottom-width: .5rem;
    }

    .is-active + & {
        visibility: visible;
        opacity: 1;
        display: flex;
        flex-flow: column;
    }

    hr {
        inline-size: 1rem;
        margin-block: 1rem;
        margin-inline: 0 auto;
        border: none;
        border-block-start: 1px solid var(--divider);
    }
}


.m-menu__item {
    font: 400 var(--font-sm)/1 var(--font-primary);
    margin-inline: -.5rem;
    padding: .25rem .5rem;
    min-block-size: 2rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    color: var(--text-body-primary);
    cursor: pointer;

    &:hover,
    &:focus,
    &.is-active {
        background: var(--color-blue-100);
        outline: none;
    }

    &:focus-visible {
        outline-offset: 1px;
        outline: 2px solid var(--color-blue-700);
        background: var(--color-blue-100);
    }

    .m-menu__subnav & {
        min-block-size: 1.5rem;
        margin-inline: 0;
        padding-inline-start: .5rem;
        border-radius: 0;
        color: var(--text-body-secondary);
        font: 400 .75rem/1 var(--font-body);
        box-shadow: inset 0 0 0 0 transparent;
        transition: 200ms all;

        &:hover,
        &:focus-visible,
        &.is-active {
            background: transparent;
            box-shadow: inset .25rem 0 0 0 var(--brand-tertiary-green);
            padding-inline-start: .75rem;
        }
    }

    &.disabled {
        color: var(--text-body-disabled);
        pointer-events: none;
    }
}


.m-menu__subnav {
    display: grid;
    box-shadow: inset 1px 0 0 0 var(--divider);
}


.m-subnav__item {
    font: 400 .75rem/1.375 (--font-body);
}


.m-list__subhead {
    min-block-size: 2rem;
    font: 400 .75rem/1.5 var(--font-primary);
    color: var(--color-blue-700);
    align-content: center;
}


.m-menu__item--destructive {
    color: var(--color-red-700);
    
    &:hover,
    &:focus-visible {
        background: var(--color-red-100);
    }
}



.m-menu__origin {

    /* Opens to the top */

    &[data-origin^="top-"] {

        &::before {
            border-width: 8px 12px 0 12px;
            border-color: var(--color-white) transparent transparent transparent;
            inset: auto auto calc(100% - 6px) 50%;
            translate: -50% 0;
        }

        + .m-menu {
            bottom: calc(100% + 2px);

            .m-expandable__origin i::before {
                content: '\f106';
            }
        }
    }


    /* Opens to the bottom */

    &[data-origin^="bottom-"] {
        
        &::before {
            border-width: 0 8px 8px 8px;
            border-color: transparent transparent var(--color-white) transparent;
            inset: calc(100% - 6px) auto auto 50%;
        }

        + .m-menu {
            top: calc(100% + 2px);
        }
    }


    /* Opens to the left */

    &[data-origin^="left-"] {

        &::before {
            border-width: 8px 0 8px 8px;
            border-color: transparent transparent transparent var(--color-white);
            inset: calc(50% - 8px) calc(100% - 10px) auto auto;
        }

        + .m-menu {
            inset: auto calc(100% + 2px) auto auto;
        }
    }

    /* Opens to the right */

    &[data-origin^="right-"] {

        &::before {
            border-width: 8px 8px 8px 0;
            border-color: transparent var(--color-white) transparent transparent;
            inset: calc(50% - 8px) auto auto calc(100% - 2px);
        }

        + .m-menu {
            left: calc(100% + 2px);
        }
    }


    // Opens at the top */

    &[data-origin$="-bottom"] {
        
        + .m-menu {
            top: -.25rem;
        }
    }


    /* Opens at in the middle */

    &[data-origin$="-middle"] {
        
        + .m-menu {
            top: 50%;
            translate: 0 -50%;
        }
    }


    /* Opens at the bottom */

    &[data-origin$="-top"] {
        
        + .m-menu {
            bottom: -.25rem;
        
            .m-expandable__origin i::before {
                content: '\f106';
            }
        }
    }

    /* Opens to the left */

    &[data-origin$="-left"] {
        
        + .m-menu {
            right: 0;
        }
    }


    /* Opens in the center */

    &[data-origin$="-center"] {
        
        + .m-menu {
            left: 50%;
            translate: -50% 0;
        }
    }


    /* Opens to the right */

    &[data-origin$="-right"] {
        
        + .m-menu {
            left: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .m-menu__origin {

        &::before {
            display: none;
        }
    }

    .m-menu {
        position: fixed;
        inset: 0 auto 0 0 !important;
        padding-block-start: 4rem;
        translate: -100% 0;
        transition: 400ms all;

        .is-active + & {
            translate: 0;
        }
    }
}