.m-page--modal {
    background: var(--color-greyscale-100);
    margin: 1.5rem;
}

.m-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
}

.m-modal {
    display: flex;
    flex-flow: column nowrap;
    background: var(--color-white);
    padding: var(--gap-xl);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / .1);
    gap: var(--gap-lg);

    &.m-content--centered {
        justify-content: center;
    }

    img {
        height: 135px;
        object-fit: contain;
        margin: 0 auto;
    }
}

.m-modal__header {
    margin-block-end: auto;
}

.m-modal__body {
    display: grid;
    gap: 1rem;
    

    .m-btn {
        margin-block-start: auto;
    }
}

.m-modal__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    gap: var(--gap-lg);
}

.m-modal__header {
    font: 400 1.375rem/1.25 "Source Sans 3", sans-serif;
    color: var(--text-body-primary);
}

.m-modal__paragraph {
    font: 400 .875rem/1.25 "Source Sans 3", sans-serif;
    color: var(--text-body-secondary);
}

.m-modal:nth-child(2) {
    
}




dialog {
    border: none;
}


.m-dialog {
    --dialog-bg: light-dark(var(--color-white), var(--color-greyscale-900));

    background: var(--dialog-bg);
}

.m-dialog--complex {
    position: absolute;
    inset: 50% auto auto 50%;
    translate: -50% -50%;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / .1);
    inline-size: 100%;
    max-inline-size: 30rem;
    padding-block: 0;

    &::backdrop {
        background: rgb(0 0 0 / .8);
    }
}


.m-dialog__header {
    position: relative;
    padding-block: 1rem;
    display: grid;
    align-content: center;
    border-block-end: 1px solid var(--divider);
    min-block-size: 3.5rem;

    h3 {
        font: var(--font-semi) var(--font-lg)/1 var(--font-body);
        color: var(--text-body-primary);
    }
    
     p {
        font: var(--font-regular) var(--font--sm)/1.5 var(--font-body);
        color: var(--text-body-secondary);
    }

    .m-btn--icon {
        position: absolute;
        inset: 50% 0 auto auto;
        translate: 0 -50%;
    }
}

.m-dialog__body {
    padding-block: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    color: var(--text-body-primary);

    p {
        font: 400 .875rem/1.5 var(--font-body);
    }

    form {
        margin: 0;
    }

    fieldset {
        border-radius: 4px;
        border: 1px solid var(--divider);
    }
}

.m-dialog__footer {
    padding-block: 1rem;
    border-block-start: 1px solid var(--divider);
}

.m-table--compressed {
    inline-size: 100%;
    font: 400 .875rem/1 var(--font-body);
    border-block-end: 1px solid var(--divider);
    border-collapse: collapse;

    thead {
        tr {
            block-size: 2rem;
            border: none;
        }
    }

    tbody {

    }

    tr {
        border-block-start: 1px dotted var(--divider);
        block-size: 2.5rem;
    }

    th,
    td {
        text-align: start;
        color: var(--text-body-primary);
        vertical-align: middle;
        padding-inline: .5rem;

        &:last-of-type {
            text-align: end;
        }

        .m-indicator {
            font: 400 .625rem/1 var(--font-body);
            border-radius: 2px;
            padding-inline: .625em;

            text-transform: uppercase;
            background: var(--color-greyscale-200);
            color: var(--color-greyscale-700);
            margin-inline-start: .25em;
        }
    }

    th {
        letter-spacing: 2%;
        font-weight: var(--font-semi);
        text-transform: lowercase;
        font-variant: small-caps;
        color: var(--text-body-secondary);
    }
}

.m-component__overflow--table {

    &:has(tr:nth-child(5)) {
        block-size: 12rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 16px;
            margin-block-start: 30px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: var(--color-greyscale-300);
            border-radius: 0;
            border-top: 32px solid var(--dialog-bg);
            border-left: 8px solid var(--dialog-bg);
            border-right: 4px solid var(--dialog-bg);
        }

        thead {
            position: sticky;
            top: 0;
            background: white;
            margin-inline-end: -8px;
            box-shadow: 0 1px 0 0 var(--divider);
            
            th {
                
            }
        }
    }
}

html,
body {
    height: 100vh;
}



