toggle-switch {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    /* Local Variables */
    --toggle-active: var(--affirmative);
    --toggle-inactive: var(--color-greyscale-400);
    --toggle-height: 1.25rem;
    --toggle-padding: 0.1875rem;
}

.m-toggle__title {
    font: var(--font-label);
    color: var(--text-default);

    &:hover {
        cursor: pointer;
    }

    .m-component--toggle:has(button:disabled) & {
        color: var(--text-disabled);
    }
}

.m-toggle__indicator {
    position: relative;
    padding: 0.125rem;
    border: none;
    border-radius: 50vmax;
    background: transparent;
    min-width: calc(var(--toggle-height) * 2);
    height: var(--toggle-height);
    overflow: hidden;
    border: 1px solid var(--toggle-inactive);
    transition: 200ms all ease;
    padding: 0 calc(var(--toggle-height) + calc(var(--toggle-padding) * 2)) 0
        var(--toggle-padding);

    &:not(:disabled):hover {
        cursor: pointer;
        box-shadow: inset 0 0 0 1px var(--toggle-inactive);
    }

    &:disabled {
        --toggle-inactive: var(--color-greyscale-200);
    }

    &[aria-checked='true'] {
        background: var(--toggle-active);
        border-color: var(--toggle-active);

        &:hover {
            box-shadow: inset 1px 1px 2px 0 rgb(0 0 0 / 0.2);
        }

        &:disabled {
            pointer-events: None;
            --toggle-active: var(--color-green-300);
        }
    }
}

toggle-slider {
    position: absolute;
    top: var(--toggle-padding);
    left: var(--toggle-padding);
    height: calc(100% - calc(var(--toggle-padding) * 2));
    display: flex;
    aspect-ratio: 1;
    background: var(--toggle-inactive);
    border-radius: 50vmax;
    transition: 200ms all ease;

    &::before {
        content: attr(data-label);
        position: absolute;
        align-self: center;
        right: calc(100% + calc(var(--toggle-padding) * 1.5));
        font:
            400 0.625rem 'Barlow',
            sans-serif;
        color: var(--color-white);
        text-transform: uppercase;
        letter-spacing: 0.04em;
    }

    .m-toggle__indicator[aria-checked='true'] & {
        left: calc(
            100% -
                calc(var(--toggle-height) - calc(var(--toggle-padding) * 1.5))
        );
        background: var(--color-white);
    }
}

toggle-label {
    visibility: hidden;
    font:
        400 0.625rem/1 'Barlow',
        sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    display: block;
    padding: 0 calc(var(--toggle-height) * calc(var(--toggle-padding) * 2)) 0
        var(--toggle-padding);
    text-align: center;
}

.m-toggle--sm {
    --toggle-height: 1rem;
    --toggle-padding: 0.125rem;
}

.m-toggle--lg {
    --toggle-height: 1.5rem;
    --toggle-padding: 0.25rem;
}
