/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@layer colors {
  :root {
    --color-blue-900: #005BA5;
    --color-blue-700: #0072CE;
    --color-blue-500: #338ED8;
    --color-blue-300: #80B9E7;
    --color-blue-100: #F0F7FC;
    --color-navy-900: #001E2E;
    --color-navy-700: #00263A;
    --color-navy-500: #335161;
    --color-navy-300: #80939D;
    --color-navy-100: #E6E9EB;
    --color-green-900: #006A4E;
    --color-green-700: #008561;
    --color-green-500: #339D81;
    --color-green-300: #80C2B0;
    --color-green-100: #E6F3EF;
    --color-purple-900: #5E2F97;
    --color-purple-700: #753BBD;
    --color-purple-500: #9162CA;
    --color-purple-300: #BA9DDE;
    --color-purple-100: #F1EBF8;
    --color-yellow-900: #F3D03E;
    --color-yellow-700: #F5D965;
    --color-yellow-500: #F9E89F;
    --color-yellow-300: #FBF1C5;
    --color-yellow-100: #FEFAEC;
    --color-greyscale-900: #1A2228;
    --color-greyscale-800: #28333B;
    --color-greyscale-700: #35444F;
    --color-greyscale-600: #40505B;
    --color-greyscale-500: #647281;
    --color-greyscale-400: #94A0A9;
    --color-greyscale-300: #B3BBC1;
    --color-greyscale-200: #D9DDE0;
    --color-greyscale-100: #F3F5F7;
    --color-black: #111921;
    --color-white: #FFFFFF;
  }
}
@layer brand {
  :root {
    --brand-primary-blue: var(--color-blue-700);
    --brand-primary-navy: var(--color-navy-700);
    --brand-secondary-green: var(--color-green-700);
    --brand-secondary-purple: var(--color-purple-700);
    --brand-tertiary-blue: #85D1F9;
    --brand-tertiary-green: #1DD899;
    --brand-tertiary-purple: #A197FF;
    --brand-tertiary-yellow: #F3D03E;
  }
}
@layer typography {
  :root {
    --font-xs: .75rem;
    --font-sm: .875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-xxl: 1.5rem;
    --font-hero: "League Spartan", sans-serif;
    --font-primary: "Source Sans 3", sans-serif;
    --font-secondary: "Barlow", sans-serif;
    --font-title: var(--font-secondary);
    --font-body: var(--font-primary);
    --font-icon: "Font Awesome 6 Pro";
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi: 600;
    --font-bold: 700;
    --text-body-primary: var(--color-greyscale-900);
    --text-body-secondary: var(--color-greyscale-500);
    --text-body-placeholder: var(--color-greyscale-500);
    --text-body-disabled: var(--color-greyscale-400);
    --text-affirmative: var(--color-green-700);
    --text-heading: var(--color-greyscale-900);
    --font-label: 400 var(--font-md)/1 var(--font-primary);
    --font-toggle: 400 .625rem/1 var(--font-primary);
  }
}
@layer utility {
  :root {
    --divider: var(--color-greyscale-200);
    --nav-height: 3rem;
    --affirmative: var(--color-green-700);
    --destructive: #DF0053;
    --gap-xs: .125rem;
    --gap-sm: .25rem;
    --gap-md: .5rem;
    --gap-lg: 1rem;
    --gap-xl: 1.5rem;
    --gap-xxl: 2rem;
  }
}
@layer elevation {
  :root {
    --elevation-dropdown: 0 4px 12px -4px rgb(0 0 0 / .2),
                           0 -2px 4px 0 rgb(0 0 0 / .05);
  }
}
html {
  font: 400 1rem/1.5 var(--font-primary);
}
body {
  background-size: 8px 8px;
  background-image: linear-gradient(to right, #f7f7f7 1px, transparent 1px), linear-gradient(to bottom, #f7f7f7 1px, transparent 1px);
}
ul,
ol,
li {
  list-style-type: none;
}
button {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
}
summary {
  list-style: none;
}
details summary {
  background: yellow;
}
details section {
  display: grid;
  grid-template-rows: 0fr;
  transition: 200ms grid-template-rows ease;
}
details section ul {
  overflow: hidden;
}
menu {
  display: none;
}
details[open] section {
  transition: 200ms grid-template-rows ease;
  grid-template-rows: 1fr;
}
toggle-switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* Local Variables */
  --toggle-active: var(--affirmative);
  --toggle-inactive: var(--color-greyscale-400);
  --toggle-height: 1.25rem;
  --toggle-padding: 0.1875rem;
}
.m-toggle__title {
  font: var(--font-label);
  color: var(--text-default);
}
.m-toggle__title:hover {
  cursor: pointer;
}
.m-component--toggle:has(button:disabled) .m-toggle__title {
  color: var(--text-disabled);
}
.m-toggle__indicator {
  position: relative;
  padding: 0.125rem;
  border: none;
  border-radius: 50vmax;
  background: transparent;
  min-width: calc(var(--toggle-height) * 2);
  height: var(--toggle-height);
  overflow: hidden;
  border: 1px solid var(--toggle-inactive);
  transition: 200ms all ease;
  padding: 0 calc(var(--toggle-height) + var(--toggle-padding) * 2) 0 var(--toggle-padding);
}
.m-toggle__indicator:not(:disabled):hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 1px var(--toggle-inactive);
}
.m-toggle__indicator:disabled {
  --toggle-inactive: var(--color-greyscale-200);
}
.m-toggle__indicator[aria-checked=true] {
  background: var(--toggle-active);
  border-color: var(--toggle-active);
}
.m-toggle__indicator[aria-checked=true]:hover {
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.m-toggle__indicator[aria-checked=true]:disabled {
  pointer-events: None;
  --toggle-active: var(--color-green-300);
}
toggle-slider {
  position: absolute;
  top: var(--toggle-padding);
  left: var(--toggle-padding);
  height: calc(100% - var(--toggle-padding) * 2);
  display: flex;
  aspect-ratio: 1;
  background: var(--toggle-inactive);
  border-radius: 50vmax;
  transition: 200ms all ease;
}
toggle-slider::before {
  content: attr(data-label);
  position: absolute;
  align-self: center;
  right: calc(100% + var(--toggle-padding) * 1.5);
  font: 400 0.625rem "Barlow", sans-serif;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
.m-toggle__indicator[aria-checked=true] toggle-slider {
  left: calc(100% - (var(--toggle-height) - var(--toggle-padding) * 1.5));
  background: var(--color-white);
}
toggle-label {
  visibility: hidden;
  font: 400 0.625rem/1 "Barlow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  display: block;
  padding: 0 calc(var(--toggle-height) * var(--toggle-padding) * 2) 0 var(--toggle-padding);
  text-align: center;
}
.m-toggle--sm {
  --toggle-height: 1rem;
  --toggle-padding: 0.125rem;
}
.m-toggle--lg {
  --toggle-height: 1.5rem;
  --toggle-padding: 0.25rem;
}
button:not([disabled]) {
  cursor: pointer;
}
.m-btn {
  --btn-color: var(--color-blue-700);
  --btn-border: var(--color-greyscale-300);
  --btn-fontsize: var(--font-md);
  --btn-height: 2rem;
  --btn-pi: 1.125em;
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--btn-pi);
  gap: 0.5em;
  border-radius: 4px;
  block-size: var(--btn-height);
  background: var(--btn-color);
  color: var(--color-white);
  font: var(--font-medium) var(--btn-fontsize)/1 var(--font-body);
  /* Inset Button Indicators (This may be better in the indicator component area with a slot) */
}
.m-btn:focus-visible {
  outline: 2px solid var(--color-blue-700);
  outline-offset: 1px;
}
.m-btn:hover {
  background: color-mix(in oklab, var(--btn-color), black 10%);
}
.m-btn[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
.m-btn .m-indicator {
  display: grid;
  place-items: center;
  background: color-mix(in oklab, var(--btn-color), black 20%);
  color: var(--btn-indicator-text);
  border-radius: 1rem;
  padding-inline: 0.5rem;
  padding-block: 0.25em 0.15em;
  font-size: 80%;
}
.m-btn__label {
  white-space: nowrap;
}
.m-btn__icon--leading::before,
.m-btn__icon--trailing::before {
  font-size: 100%;
  display: grid;
  place-items: center;
  height: calc(100% - 0.5rem);
  border-radius: 2px;
}
/* Color Variations */
.m-btn--primary {
  --btn-color: var(--color-blue-700);
}
.m-btn--secondary {
  --btn-color: var(--color-navy-700);
}
.m-btn--tertiary {
  --btn-color: var(--color-purple-700);
}
.m-btn--destructive {
  --btn-color: var(--destructive);
}
.m-btn--darken {
  --btn-color: var(--color-black);
}
.m-btn--lighten {
  --btn-color: var(--color-white);
}
.m-btn--darken,
.m-btn--lighten {
  background: color-mix(in oklab, var(--btn-color) 15%, transparent);
  color: var(--btn-color);
}
.m-btn--darken:hover,
.m-btn--lighten:hover {
  background: color-mix(in oklab, var(--btn-color) 20%, transparent);
}
.m-btn--darken .m-indicator,
.m-btn--lighten .m-indicator {
  background: color-mix(in oklab, var(--btn-color) 15%, transparent);
  color: inherit;
}
.m-btn--darken.m-btn--outline,
.m-btn--lighten.m-btn--outline {
  background: transparent;
  border-color: color-mix(in oklab, var(--btn-color) 15%, transparent);
}
.m-btn--darken.m-btn--outline:hover,
.m-btn--lighten.m-btn--outline:hover {
  background: color-mix(in oklab, var(--btn-color) 20%, transparent);
  border-color: transparent;
}
.m-btn--neutral {
  --btn-color: var(--color-greyscale-100);
  color: var(--color-greyscale-600);
}
.m-btn--neutral:hover {
  background: color-mix(in oklab, var(--btn-color), black 3%);
}
.m-btn--neutral .m-indicator {
  color: inherit;
  background: rgba(0, 0, 0, 0.1);
}
/* Style Variations */
.m-btn--text,
.m-btn--outline {
  background: unset;
  color: var(--btn-color);
}
.m-btn--text:hover,
.m-btn--outline:hover {
  background: unset;
  border-color: inherit;
}
.m-btn--text .m-indicator,
.m-btn--outline .m-indicator {
  background: color-mix(in oklab, var(--btn-color) 20%, transparent);
  color: var(--btn-color);
}
.m-btn--text.m-btn--neutral,
.m-btn--outline.m-btn--neutral {
  color: inherit;
}
.m-btn--text.m-btn--neutral .m-indicator,
.m-btn--outline.m-btn--neutral .m-indicator {
  background: rgba(0, 0, 0, 0.1);
  color: var(--color-greyscale-900);
}
.m-btn--outline {
  border: 1px solid var(--btn-border);
}
.m-btn--text:hover {
  background: color-mix(in oklab, var(--btn-color) 5%, transparent);
}
/* Size Variations */
.m-btn--sm {
  --btn-height: 1.5rem;
  --btn-fontsize: var(--font-sm);
}
.m-btn--lg {
  --btn-height: 2.5rem;
  --btn-fontsize: var(--font-md);
}
.m-btn--pill {
  border-radius: 2rem;
}
/* Icon Button */
.m-btn--icon {
  aspect-ratio: 1;
  padding-inline: 0;
}
.m-btn--icon :is(i:nth-of-type(n+2), .m-btn__label) {
  display: none;
}
.m-btn--icon:has(.m-indicator) {
  padding-inline: calc(var(--btn-pi) / 1.5);
  gap: 0.5em;
}
/* Loading State */
.is-loading {
  pointer-events: none;
}
.is-loading :is(i, span, .m-indicator) {
  visibility: hidden;
}
.is-loading :is(i, span, .m-indicator):first-child::after {
  content: "\f3f4";
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: var(--btn-height);
  aspect-ratio: 1/1;
  opacity: 0.5;
  visibility: visible;
  font: 400 var(--font-xl)/1 "Font Awesome 6 Pro";
  animation: loading 800ms ease-in-out infinite;
}
/* Loading Animation */
@keyframes loading {
  0% {
    rotate: -60deg;
  }
  90%, 100% {
    rotate: 300deg;
  }
}
.m-component--indicator {
  /* Local Variables */
  --indicator-height: 1.25rem;
  --indicator-label-size: 0.75rem;
  --indicator-text: var(--color-white);
  --indicator-bg: var(--color-blue-700);
  --indicator-icon-size: var(--font-xs);
  --indicator-border: var(--color-greyscale-300);
  display: inline-flex;
  align-items: center;
  background: var(--indicator-bg);
  padding-inline: 0.5rem;
  border-radius: 50vmax;
  height: var(--indicator-height);
  gap: 0.125rem;
  user-select: none;
  color: var(--indicator-text);
}
.m-indicator__icon--leading,
.m-indicator__icon--trailing {
  font-size: var(--indicator-icon-size);
  display: grid;
  place-items: center;
  height: 100%;
  aspect-ratio: 1;
  padding-top: 1px;
}
.m-indicator__icon--leading::before,
.m-indicator__icon--trailing::before {
  display: grid;
  place-items: center;
  aspect-ratio: 1;
}
.m-indicator__label {
  position: relative;
  top: -0.0625rem;
  font: 400 var(--indicator-label-size) "Barlow", sans-serif;
  white-space: nowrap;
}
.m-indicator__label:is(:first-child) {
  padding-inline-start: 0.25rem;
}
.m-indicator__label:is(:last-child) {
  padding-inline-end: 0.25rem;
}
.m-indicator__label::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
/* Outline Styles */
.m-indicator--outline {
  border: 1px solid;
  border-color: var(--indicator-border);
  --indicator-bg: var(--color-greyscale-100);
  --indicator-text: var(--color-greyscale-700);
  --indicator-border: var(--color-greyscale-200);
}
.m-indicator--outline.m-indicator--primary {
  --indicator-text: var(--color-blue-700);
  --indicator-border: var(--color-blue-300);
  --indicator-bg: var(--color-blue-100);
}
.m-indicator--outline.m-indicator--secondary {
  --indicator-text: var(--color-navy-700);
  --indicator-border: var(--color-navy-300);
  --indicator-bg: var(--color-greyscale-100);
}
.m-indicator--outline.m-indicator--tertiary {
  --indicator-text: var(--color-purple-700);
  --indicator-border: var(--color-purple-300);
  --indicator-bg: var(--color-purple-100);
}
.m-indicator--outline.m-indicator--affirmative {
  --indicator-text: var(--color-green-700);
  --indicator-border: var(--color-green-300);
  --indicator-bg: var(--color-green-100);
}
.m-indicator--outline.m-indicator--destructive {
  --indicator-text: var(--color-red-700);
  --indicator-border: var(--color-red-300);
  --indicator-bg: var(--color-red-100);
}
.m-indicator--outline.m-indicator--supportive {
  --indicator-text: var(--color-greyscale-700);
  --indicator-border: var(--color-yellow-300);
  --indicator-bg: var(--color-yellow-100);
}
.m-indicator--outline.m-indicator--lighten {
  --indicator-border: rgb(255 255 255 / 0.2);
}
.m-indicator--outline.m-indicator--darken {
  --indicator-border: rgb(0 0 0 / 0.2);
}
/* Solid Styles */
.m-indicator--primary {
  --indicator-bg: var(--color-blue-700);
}
.m-indicator--secondary {
  --indicator-bg: var(--color-navy-700);
}
.m-indicator--tertiary {
  --indicator-bg: var(--color-purple-700);
}
.m-indicator--affirmative {
  --indicator-bg: var(--color-green-700);
}
.m-indicator--destructive {
  --indicator-bg: var(--color-red-700);
}
.m-indicator--neutral {
  --indicator-bg: var(--color-navy-100);
  --indicator-text: var(--text-default);
}
.m-indicator--neutral {
  --indicator-bg: var(--color-greyscale-100);
}
.m-indicator--lighten {
  --indicator-bg: rgb(255 255 255 / 0.1);
  --indicator-text: var(--color-white);
}
.m-indicator--darken {
  --indicator-bg: rgb(0 0 0 / 0.1);
  --indicator-text: var(--text-default);
}
/* Text Styles */
.m-indicator--text {
  background: none;
}
.m-indicator--text.m-indicator--primary {
  color: var(--color-blue-700);
}
.m-indicator--text.m-indicator--secondary {
  color: var(--color-navy-700);
}
.m-indicator--text.m-indicator--tertiary {
  color: var(--color-purple-700);
}
.m-indicator--text.m-indicator--affirmative {
  color: var(--color-green-700);
}
.m-indicator--text.m-indicator--destructive {
  color: var(--color-red-700);
}
.m-indicator--text.m-indicator--supportive {
  color: var(--color-yellow-700);
}
.m-indicator--text.m-indicator--neutral {
  color: var(--color-greyscale-700);
}
/* Indicator Sizes */
.m-indicator--lg {
  --indicator-height: 1.5rem;
  --indicator-label-size: 0.875rem;
}
.m-expandable__item {
  display: grid;
}
.m-expandable__origin {
  justify-content: space-between;
}
.m-expandable__icon {
  color: var(--color-greyscale-400);
  transition: 100ms rotate;
}
.is-expanded .m-expandable__icon {
  rotate: 180deg;
}
.m-expandable__target {
  display: grid;
  grid-template-rows: 0fr;
  margin-block: 0;
  opacity: 0;
  visibility: hidden;
  transition: 200ms all;
}
.is-expanded + .m-expandable__target {
  opacity: 1;
  visibility: visible;
  grid-template-rows: 1fr;
}
.is-expanded + .m-expandable__target .m-expandable__body {
  margin-block: 0.5rem;
}
.m-expandable__body {
  overflow: hidden;
}
.m-page--modal {
  background: var(--color-greyscale-100);
  margin: 1.5rem;
}
.m-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem;
}
.m-modal {
  display: flex;
  flex-flow: column nowrap;
  background: var(--color-white);
  padding: var(--gap-xl);
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  gap: var(--gap-lg);
}
.m-modal.m-content--centered {
  justify-content: center;
}
.m-modal img {
  height: 135px;
  object-fit: contain;
  margin: 0 auto;
}
.m-modal__header {
  margin-block-end: auto;
}
.m-modal__body {
  display: grid;
  gap: 1rem;
}
.m-modal__body .m-btn {
  margin-block-start: auto;
}
.m-modal__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  gap: var(--gap-lg);
}
.m-modal__header {
  font: 400 1.375rem/1.25 "Source Sans 3", sans-serif;
  color: var(--text-body-primary);
}
.m-modal__paragraph {
  font: 400 0.875rem/1.25 "Source Sans 3", sans-serif;
  color: var(--text-body-secondary);
}
dialog {
  border: none;
}
.m-dialog {
  --dialog-bg: light-dark(var(--color-white), var(--color-greyscale-900));
  background: var(--dialog-bg);
}
.m-dialog--complex {
  position: absolute;
  inset: 50% auto auto 50%;
  translate: -50% -50%;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  inline-size: 100%;
  max-inline-size: 30rem;
  padding-block: 0;
}
.m-dialog--complex::backdrop {
  background: rgba(0, 0, 0, 0.8);
}
.m-dialog__header {
  position: relative;
  padding-block: 1rem;
  display: grid;
  align-content: center;
  border-block-end: 1px solid var(--divider);
  min-block-size: 3.5rem;
}
.m-dialog__header h3 {
  font: var(--font-semi) var(--font-lg)/1 var(--font-body);
  color: var(--text-body-primary);
}
.m-dialog__header p {
  font: var(--font-regular) var(--font--sm)/1.5 var(--font-body);
  color: var(--text-body-secondary);
}
.m-dialog__header .m-btn--icon {
  position: absolute;
  inset: 50% 0 auto auto;
  translate: 0 -50%;
}
.m-dialog__body {
  padding-block: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  color: var(--text-body-primary);
}
.m-dialog__body p {
  font: 400 0.875rem/1.5 var(--font-body);
}
.m-dialog__body form {
  margin: 0;
}
.m-dialog__body fieldset {
  border-radius: 4px;
  border: 1px solid var(--divider);
}
.m-dialog__footer {
  padding-block: 1rem;
  border-block-start: 1px solid var(--divider);
}
.m-table--compressed {
  inline-size: 100%;
  font: 400 0.875rem/1 var(--font-body);
  border-block-end: 1px solid var(--divider);
  border-collapse: collapse;
}
.m-table--compressed thead tr {
  block-size: 2rem;
  border: none;
}
.m-table--compressed tr {
  border-block-start: 1px dotted var(--divider);
  block-size: 2.5rem;
}
.m-table--compressed th,
.m-table--compressed td {
  text-align: start;
  color: var(--text-body-primary);
  vertical-align: middle;
  padding-inline: 0.5rem;
}
.m-table--compressed th:last-of-type,
.m-table--compressed td:last-of-type {
  text-align: end;
}
.m-table--compressed th .m-indicator,
.m-table--compressed td .m-indicator {
  font: 400 0.625rem/1 var(--font-body);
  border-radius: 2px;
  padding-inline: 0.625em;
  text-transform: uppercase;
  background: var(--color-greyscale-200);
  color: var(--color-greyscale-700);
  margin-inline-start: 0.25em;
}
.m-table--compressed th {
  letter-spacing: 2%;
  font-weight: var(--font-semi);
  text-transform: lowercase;
  font-variant: small-caps;
  color: var(--text-body-secondary);
}
.m-component__overflow--table:has(tr:nth-child(5)) {
  block-size: 12rem;
  overflow-y: auto;
}
.m-component__overflow--table:has(tr:nth-child(5))::-webkit-scrollbar {
  width: 16px;
  margin-block-start: 30px;
}
.m-component__overflow--table:has(tr:nth-child(5))::-webkit-scrollbar-thumb {
  background: var(--color-greyscale-300);
  border-radius: 0;
  border-top: 32px solid var(--dialog-bg);
  border-left: 8px solid var(--dialog-bg);
  border-right: 4px solid var(--dialog-bg);
}
.m-component__overflow--table:has(tr:nth-child(5)) thead {
  position: sticky;
  top: 0;
  background: white;
  margin-inline-end: -8px;
  box-shadow: 0 1px 0 0 var(--divider);
}
html,
body {
  height: 100vh;
}
:root {
  --breadcrumb-text: var(--text-body-primary);
  --breadcrumb-text-hover: var(--color-blue-700);
  --breadcrumb-icon: var(--text-body-secondary);
  --breadcrumb-underline: var(--color-greyscale-400);
}
.m-list--breadcrumbs {
  display: flex;
}
.m-breadcrumb__item {
  white-space: nowrap;
}
.m-breadcrumb__item:not(:first-child)::before {
  content: "\f105";
  font: 400 0.625rem/1 var(--font-icon);
  margin-inline: 0.5rem;
  color: var(--breadcrumb-icon);
}
.m-breadcrumb__link {
  font: var(--font-regular) var(--font-sm)/1 var(--font-primary);
  color: var(--breadcrumb-text);
  text-decoration-color: var(--breadcrumb-underline);
  text-underline-offset: 0.125rem;
}
.m-breadcrumb__item:last-of-type .m-breadcrumb__link {
  pointer-events: none;
  text-decoration: none;
  font-weight: var(--font-semi);
}
.m-breadcrumb__link:hover {
  text-decoration: none;
  color: var(--breadcrumb-text-hover);
}
.m-page--profile-menu {
  background: var(--color-greyscale-100);
}
.m-has-menu {
  position: relative;
}
.m-menu__origin {
  position: relative;
  cursor: pointer;
}
.m-menu__origin.is-active::before {
  opacity: 1;
  visibility: visible;
}
/* Comment */
.m-menu {
  position: absolute;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.25rem;
  min-inline-size: 15rem;
  margin: 0;
  background: var(--color-white);
  box-shadow: var(--elevation-dropdown);
}
.m-menu::-webkit-scrollbar {
  width: 0.75rem;
}
.m-menu::-webkit-scrollbar-thumb {
  border: 0.25rem solid var(--color-white);
  background: var(--color-greyscale-300);
  border-radius: 2rem;
  border-top-width: 0.5rem;
  border-bottom-width: 0.5rem;
}
.is-active + .m-menu {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-flow: column;
}
.m-menu hr {
  inline-size: 1rem;
  margin-block: 1rem;
  margin-inline: 0 auto;
  border: none;
  border-block-start: 1px solid var(--divider);
}
.m-menu__item {
  font: 400 var(--font-sm)/1 var(--font-primary);
  margin-inline: -0.5rem;
  padding: 0.25rem 0.5rem;
  min-block-size: 2rem;
  display: flex;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
  color: var(--text-body-primary);
  cursor: pointer;
}
.m-menu__item:hover, .m-menu__item:focus, .m-menu__item.is-active {
  background: var(--color-blue-100);
  outline: none;
}
.m-menu__item:focus-visible {
  outline-offset: 1px;
  outline: 2px solid var(--color-blue-700);
  background: var(--color-blue-100);
}
.m-menu__subnav .m-menu__item {
  min-block-size: 1.5rem;
  margin-inline: 0;
  padding-inline-start: 0.5rem;
  border-radius: 0;
  color: var(--text-body-secondary);
  font: 400 0.75rem/1 var(--font-body);
  box-shadow: inset 0 0 0 0 transparent;
  transition: 200ms all;
}
.m-menu__subnav .m-menu__item:hover, .m-menu__subnav .m-menu__item:focus-visible, .m-menu__subnav .m-menu__item.is-active {
  background: transparent;
  box-shadow: inset 0.25rem 0 0 0 var(--brand-tertiary-green);
  padding-inline-start: 0.75rem;
}
.m-menu__item.disabled {
  color: var(--text-body-disabled);
  pointer-events: none;
}
.m-menu__subnav {
  display: grid;
  box-shadow: inset 1px 0 0 0 var(--divider);
}
.m-subnav__item {
  font: 400 0.75rem/1.375 --font-body;
}
.m-list__subhead {
  min-block-size: 2rem;
  font: 400 0.75rem/1.5 var(--font-primary);
  color: var(--color-blue-700);
  align-content: center;
}
.m-menu__item--destructive {
  color: var(--color-red-700);
}
.m-menu__item--destructive:hover, .m-menu__item--destructive:focus-visible {
  background: var(--color-red-100);
}
.m-menu__origin {
  /* Opens to the top */
  /* Opens to the bottom */
  /* Opens to the left */
  /* Opens to the right */
  /* Opens at in the middle */
  /* Opens at the bottom */
  /* Opens to the left */
  /* Opens in the center */
  /* Opens to the right */
}
.m-menu__origin[data-origin^=top-]::before {
  border-width: 8px 12px 0 12px;
  border-color: var(--color-white) transparent transparent transparent;
  inset: auto auto calc(100% - 6px) 50%;
  translate: -50% 0;
}
.m-menu__origin[data-origin^=top-] + .m-menu {
  bottom: calc(100% + 2px);
}
.m-menu__origin[data-origin^=top-] + .m-menu .m-expandable__origin i::before {
  content: "\f106";
}
.m-menu__origin[data-origin^=bottom-]::before {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent var(--color-white) transparent;
  inset: calc(100% - 6px) auto auto 50%;
}
.m-menu__origin[data-origin^=bottom-] + .m-menu {
  top: calc(100% + 2px);
}
.m-menu__origin[data-origin^=left-]::before {
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent var(--color-white);
  inset: calc(50% - 8px) calc(100% - 10px) auto auto;
}
.m-menu__origin[data-origin^=left-] + .m-menu {
  inset: auto calc(100% + 2px) auto auto;
}
.m-menu__origin[data-origin^=right-]::before {
  border-width: 8px 8px 8px 0;
  border-color: transparent var(--color-white) transparent transparent;
  inset: calc(50% - 8px) auto auto calc(100% - 2px);
}
.m-menu__origin[data-origin^=right-] + .m-menu {
  left: calc(100% + 2px);
}
.m-menu__origin[data-origin$=-bottom] + .m-menu {
  top: -0.25rem;
}
.m-menu__origin[data-origin$=-middle] + .m-menu {
  top: 50%;
  translate: 0 -50%;
}
.m-menu__origin[data-origin$=-top] + .m-menu {
  bottom: -0.25rem;
}
.m-menu__origin[data-origin$=-top] + .m-menu .m-expandable__origin i::before {
  content: "\f106";
}
.m-menu__origin[data-origin$=-left] + .m-menu {
  right: 0;
}
.m-menu__origin[data-origin$=-center] + .m-menu {
  left: 50%;
  translate: -50% 0;
}
.m-menu__origin[data-origin$=-right] + .m-menu {
  left: 0;
}
@media screen and (max-width: 480px) {
  .m-menu__origin::before {
    display: none;
  }
  .m-menu {
    position: fixed;
    inset: 0 auto 0 0 !important;
    padding-block-start: 4rem;
    translate: -100% 0;
    transition: 400ms all;
  }
  .is-active + .m-menu {
    translate: 0;
  }
}
@layer bulk-sms {
  :root {
    --testing: #f00;
    --divider: var(--color-greyscale-200);
    --module-shadow: 0 0 0 1px rgb(0 0 0 / .05),
                    0 3px 6px 0 rgb(0 0 0 / .05);
    --input-border: var(--color-greyscale-300);
    --input-text: var(--color-greyscale-900);
    --input-required: var(--color-red-700);
  }
}
.bulk-sms {
  display: grid;
  place-items: center;
  margin-inline: 1rem;
}
.bulk-sms .m-modal {
  width: 100%;
  max-width: 40rem;
  padding-block: 0;
  gap: 0;
  border-radius: 0.5rem;
  box-shadow: var(--module-shadow);
}
.bulk-sms .m-modal__header {
  position: relative;
  min-height: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5rem;
  padding-inline-end: 2rem;
}
.bulk-sms .m-modal__header h2 {
  font: 600 clamp(var(--font-md), 2.5vw, var(--font-lg))/1 var(--font-secondary);
  color: var(--text-heading);
}
.bulk-sms .m-modal__header p {
  font-size: clamp(var(--font-xs), 2.5vw, var(--font-sm));
  color: var(--text-body-secondary);
}
.bulk-sms .m-modal__header .modal-close {
  position: absolute;
  right: 0;
  color: var(--color-greyscale-300);
}
.bulk-sms .m-modal__header .modal-close:hover {
  color: var(--color-greyscale-600);
}
.bulk-sms .m-modal__body {
  display: grid;
  gap: 1.5rem;
  border: solid var(--divider);
  border-width: 1px 0 1px;
  padding-block-start: 1rem;
  padding-block-end: 1.5rem;
}
.bulk-sms .m-modal__footer {
  display: flex;
  justify-content: end;
  padding-block: 1rem;
  gap: 0.5rem;
}
.bulk-sms .m-modal__footer [type=submit] {
  order: 1;
}
.bulk-sms .m-form {
  margin: 0;
}
.bulk-sms .m-form__item {
  display: grid;
  gap: 0.5rem;
}
.bulk-sms .m-form__item label {
  font: var(--font-semi) var(--font-sm)/1 var(--font-secondary);
  color: var(--input-text);
}
.bulk-sms .m-form__item label b {
  color: var(--input-required);
  padding-inline-start: 0.125rem;
}
.bulk-sms .m-form__item .grow-wrapper {
  display: grid;
}
.bulk-sms .m-form__item .grow-wrapper::before {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.bulk-sms .m-form__item textarea,
.bulk-sms .m-form__item .grow-wrapper::before {
  font: var(--font-regular) var(--font-sm)/1.5 var(--font-primary);
  padding: 1rem;
  resize: none;
  border-radius: 0.25rem;
  border: none;
  box-shadow: inset 0 0 0 1px var(--input-border);
  transition: 200 box-shadow ease;
  min-height: 96px;
  grid-area: 1/1/2/2;
}
.bulk-sms .m-form__item textarea:focus,
.bulk-sms .m-form__item .grow-wrapper::before:focus {
  box-shadow: inset 0 0 0 2px var(--color-blue-700);
  outline: none;
}
.m-notification--neutral {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font: 400 clamp(0.8125rem, 2.5vw, var(--font-sm))/1.375 var(--font-primary);
  border-radius: 0.25rem;
  background: var(--color-greyscale-100);
  color: var(--color-navy-700);
  padding: 0.5rem;
}
.m-notification--neutral i {
  font-size: var(--font-md);
  margin-right: 0.25rem;
  color: var(--color-navy-500);
}
.m-notification--neutral .text {
  padding-block-start: 0.25rem;
}
.m-notification--neutral .tooltip {
  position: relative;
}
.m-notification--neutral .tooltip button {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.25rem;
  text-decoration-color: var(--color-navy-300);
  color: var(--color-navy-700);
  white-space: nowrap;
}
.m-notification--neutral .tooltip button:hover, .m-notification--neutral .tooltip button:focus {
  text-decoration-style: solid;
  cursor: pointer;
}
.m-notification--neutral .tooltip button:hover + p, .m-notification--neutral .tooltip button:focus + p {
  visibility: visible;
  opacity: 1;
  transition: 200ms all ease-in-out 400ms;
}
.m-notification--neutral .tooltip button:focus, .m-notification--neutral .tooltip button:focus-visible {
  outline: none;
  color: var(--color-blue-700);
  text-decoration-style: solid;
  text-decoration-color: var(--color-blue-700);
}
.m-notification--neutral .tooltip p {
  font: 400 var(--font-xs)/1.375 var(--font-primary);
  color: var(--color-white);
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  translate: -50% 0;
  background: rgba(26, 34, 40, 0.9);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  width: 15rem;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(4px);
}
.m-notification--neutral .tooltip p::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 8px 0 8px;
  border-color: rgba(26, 34, 40, 0.9) transparent transparent transparent;
}
@media screen and (max-width: 430px) {
  .bulk-sms .m-modal {
    padding-inline: 1rem;
  }
  .bulk-sms .m-modal__header {
    gap: 0.25rem;
  }
  .bulk-sms .m-modal__footer > button {
    flex-grow: 1;
  }
}
@media screen and (max-width: 374px) {
  .bulk-sms .m-modal__footer {
    flex-wrap: wrap;
  }
  .bulk-sms .m-modal__footer button {
    width: 100%;
  }
  .bulk-sms .m-modal__footer button:first-of-type {
    order: -1;
  }
}
.m-page__header {
  block-size: 60px;
  inline-size: 100%;
  background: white;
  display: flex;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.m-profile {
  position: relative;
  display: flex;
  margin-inline-start: auto;
}
.m-profile .m-menu {
  inset: calc(100% - 4px) 1rem auto auto;
}
.m-profile__btn {
  --profile-bg: var(--color-blue-100);
  --profile-avatar-bg: var(--color-navy-700);
  --profile-avatar-icon: var(--color-navy-300);
  background: var(--profile-bg);
  padding-inline: 1rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-start-start-radius: 2rem;
  border-end-start-radius: 2rem;
  text-decoration: none;
}
.m-profile__btn:hover, .m-profile__btn:focus-visible, .m-profile__btn.is-active {
  --profile-bg: color-mix(in srgb, var(--color-blue-100), var(--color-blue-300) 20%);
  outline: none;
}
.m-profile__btn::before {
  display: none;
}
.m-profile__avatar {
  position: relative;
  border-radius: 50%;
  inline-size: 2rem;
  aspect-ratio: 1;
  background: var(--profile-avatar-bg);
  color: var(--profile-avatar-icon);
}
.m-profile__avatar::before {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}
.m-profile__avatar::after {
  position: absolute;
  inset: auto 0 0 auto;
  z-index: 2;
  inline-size: 0.5rem;
  aspect-ratio: 1;
  box-shadow: 0 0 0 2px var(--profile-bg);
  border-radius: 50%;
}
.m-profile__avatar.active::after {
  content: "";
  background: var(--color-green-700);
}
.m-profile__avatar.inactive:after {
  content: "";
  box-shadow: 0 0 0 2px var(--color-greyscale-500) inset, 0 0 0 2px var(--profile-bg);
  background: var(--profile-bg);
}
.m-profile__img {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  border-radius: 50%;
}
.m-profile__content {
  display: grid;
  gap: 0.125rem;
  text-align: start;
  line-height: 1;
}
.m-profile__name {
  font: 600 0.875rem/1 var(--font-body);
  color: var(--text-body-primary);
  margin: 0;
}
.m-profile__status {
  font-size: 0.75rem;
  color: var(--text-body-secondary);
}
.m-profile__icon {
  margin-inline-start: 1rem;
  color: var(--color-blue-700);
}
.nowrap {
  white-space: nowrap;
}
.m-mb--xs {
  margin-block-start: 0.25rem;
}
.m-mb--sm {
  margin-block-start: 0.5rem;
}
.m-mb--md {
  margin-block-start: 1rem;
}
.m-mb--lg {
  margin-block-start: 1.5rem;
}
.m-mb--xl {
  margin-block-start: 2rem;
}
.m-mbs--xs {
  margin-block-start: 0.25rem;
}
.m-mbs--sm {
  margin-block-start: 0.5rem;
}
.m-mbs--md {
  margin-block-start: 1rem;
}
.m-mbs--lg {
  margin-block-start: 1.5rem;
}
.m-mbs--xl {
  margin-block-start: 2rem;
}
.m-mbe--xs {
  margin-block-start: 0.25rem;
}
.m-mbe--sm {
  margin-block-start: 0.5rem;
}
.m-mbe--md {
  margin-block-start: 1rem;
}
.m-mbe--lg {
  margin-block-start: 1.5rem;
}
.m-mbe--xl {
  margin-block-start: 2rem;
}
.m-mi--xs {
  margin-block-start: 0.25rem;
}
.m-mi--sm {
  margin-block-start: 0.5rem;
}
.m-mi--md {
  margin-block-start: 1rem;
}
.m-mi--lg {
  margin-block-start: 1.5rem;
}
.m-mi--xl {
  margin-block-start: 2rem;
}
.m-mis--xs {
  margin-block-start: 0.25rem;
}
.m-mis--sm {
  margin-block-start: 0.5rem;
}
.m-mis--md {
  margin-block-start: 1rem;
}
.m-mis--lg {
  margin-block-start: 1.5rem;
}
.m-mis--xl {
  margin-block-start: 2rem;
}
.m-mie--xs {
  margin-block-start: 0.25rem;
}
.m-mie--sm {
  margin-block-start: 0.5rem;
}
.m-mie--md {
  margin-block-start: 1rem;
}
.m-mie--lg {
  margin-block-start: 1.5rem;
}
.m-mie--xl {
  margin-block-start: 2rem;
}
.m-pb--xs {
  margin-block-start: 0.25rem;
}
.m-pb--sm {
  margin-block-start: 0.5rem;
}
.m-pb--md {
  margin-block-start: 1rem;
}
.m-pb--lg {
  margin-block-start: 1.5rem;
}
.m-pb--xl {
  margin-block-start: 2rem;
}
.m-pbs--xs {
  margin-block-start: 0.25rem;
}
.m-pbs--sm {
  margin-block-start: 0.5rem;
}
.m-pbs--md {
  margin-block-start: 1rem;
}
.m-pbs--lg {
  margin-block-start: 1.5rem;
}
.m-pbs--xl {
  margin-block-start: 2rem;
}
.m-pbe--xs {
  margin-block-start: 0.25rem;
}
.m-pbe--sm {
  margin-block-start: 0.5rem;
}
.m-pbe--md {
  margin-block-start: 1rem;
}
.m-pbe--lg {
  margin-block-start: 1.5rem;
}
.m-pbe--xl {
  margin-block-start: 2rem;
}
.m-pi--xs {
  margin-block-start: 0.25rem;
}
.m-pi--sm {
  margin-block-start: 0.5rem;
}
.m-pi--md {
  margin-block-start: 1rem;
}
.m-pi--lg {
  margin-block-start: 1.5rem;
}
.m-pi--xl {
  margin-block-start: 2rem;
}
.m-pis--xs {
  margin-block-start: 0.25rem;
}
.m-pis--sm {
  margin-block-start: 0.5rem;
}
.m-pis--md {
  margin-block-start: 1rem;
}
.m-pis--lg {
  margin-block-start: 1.5rem;
}
.m-pis--xl {
  margin-block-start: 2rem;
}
.m-pie--xs {
  margin-block-start: 0.25rem;
}
.m-pie--sm {
  margin-block-start: 0.5rem;
}
.m-pie--md {
  margin-block-start: 1rem;
}
.m-pie--lg {
  margin-block-start: 1.5rem;
}
.m-pie--xl {
  margin-block-start: 2rem;
}
.mu-flex {
  display: flex;
}
.mu-flex--reverse {
  flex-direction: row-reverse;
}
.mu-flex--reverse.mu-flex--column {
  flex-direction: column-reverse;
}
.mu-gap--xs {
  gap: 0.125rem;
}
.mu-gap--sm {
  gap: 0.25rem;
}
.mu-gap--md {
  gap: 0.5rem;
}
.mu-gap--lg {
  gap: 1rem;
}
.mu-gap--xl {
  gap: 2rem;
}
sr-only,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.m-grid--center {
  display: grid;
  place-items: center;
}
.m-flex--column {
  display: flex;
  flex-flow: column;
}
.m-gap--sm {
  gap: 0.25rem;
}
.m-gap--md {
  gap: 0.5rem;
}
.m-gap--lg {
  gap: 1rem;
}
.m-gap--xxl {
  gap: 3rem;
}
.mobile-example {
  display: grid;
  place-items: center;
  background: none;
}
.m-modal--overlay {
  display: grid;
  place-items: center;
  padding-inline: 2rem;
  text-align: center;
  max-width: 390px;
  height: 844px;
  border-radius: 32px;
  border: 1px solid #e1e1e1;
}
@media screen and (max-width: 430px) {
  .m-modal--overlay {
    border: none;
    max-width: none;
  }
}
.m-modal--overlay .m-btn {
  height: 3rem;
}
.m-modal--overlay .copy {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  margin-block-end: 2rem;
}
.m-modal--overlay .copy .icon {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50vw;
  background: #00263A;
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px #80939D;
  margin-bottom: 2rem;
}
.m-modal--overlay .copy h1 {
  font: 400 1.5rem/1 system-ui, sans-serif;
  color: #1A2228;
}
.m-modal--overlay .copy p {
  font: 400 0.875rem/1.5 system-ui, sans-serif;
  color: #40505B;
}
.m-modal--overlay small {
  font: 400 0.6875rem/1.2 system-ui, sans-serif;
  color: #6A7982;
  margin-block-start: -0.5rem;
}
.m-group--btn {
  display: grid;
  align-items: center;
  width: 100%;
}
.m-size--fill {
  width: 100%;
}
.standin {
  position: relative;
}
.standin .m-btn:last-of-type {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: 100ms all linear 2000ms;
}
.standin .m-btn.is-loading + .m-btn {
  opacity: 1;
  visibility: visible;
  background: #f3f5f7;
  color: #1A2228;
  border: 1px solid var(--btn-border);
}
.m-vp__item {
  display: grid;
  gap: 0.25rem;
}
.m-vp__label {
  font: 600 0.75rem/1 var(--font-body);
  color: var(--text-body-primary);
}
.m-vp__value {
  font: 400 0.875rem/1 var(--font-body);
  color: var(--text-body-secondary);
}
.mu-flex {
  display: flex;
}
.mu-flex--column {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */