@layer colors {
    :root {
        --color-blue-900: #005BA5;
        --color-blue-700: #0072CE;
        --color-blue-500: #338ED8;
        --color-blue-300: #80B9E7;
        --color-blue-100: #F0F7FC;

        --color-navy-900: #001E2E;
        --color-navy-700: #00263A;
        --color-navy-500: #335161;
        --color-navy-300: #80939D;
        --color-navy-100: #E6E9EB;

        --color-green-900: #006A4E;
        --color-green-700: #008561;
        --color-green-500: #339D81;
        --color-green-300: #80C2B0;
        --color-green-100: #E6F3EF;

        --color-purple-900: #5E2F97;
        --color-purple-700: #753BBD;
        --color-purple-500: #9162CA;
        --color-purple-300: #BA9DDE;
        --color-purple-100: #F1EBF8;

        --color-yellow-900: #F3D03E;
        --color-yellow-700: #F5D965;
        --color-yellow-500: #F9E89F;
        --color-yellow-300: #FBF1C5;
        --color-yellow-100: #FEFAEC;

        --color-greyscale-900: #1A2228;
        --color-greyscale-800: #28333B;
        --color-greyscale-700: #35444F;
        --color-greyscale-600: #40505B;
        --color-greyscale-500: #647281;
        --color-greyscale-400: #94A0A9;
        --color-greyscale-300: #B3BBC1;
        --color-greyscale-200: #D9DDE0;
        --color-greyscale-100: #F3F5F7;

        --color-black: #111921;
        --color-white: #FFFFFF;
    }
}

@layer brand {
    :root {
        --brand-primary-blue:       var(--color-blue-700);
        --brand-primary-navy:       var(--color-navy-700);

        --brand-secondary-green:    var(--color-green-700);
        --brand-secondary-purple:   var(--color-purple-700);

        --brand-tertiary-blue:      #85D1F9;
        --brand-tertiary-green:     #1DD899;
        --brand-tertiary-purple:    #A197FF;
        --brand-tertiary-yellow:    #F3D03E;
    }
}

@layer typography {
    :root {
        --font-xs:      .75rem;
        --font-sm:     .875rem;
        --font-md:        1rem;
        --font-lg:    1.125rem;
        --font-xl:     1.25rem;
        --font-xxl:     1.5rem;


        --font-hero:        "League Spartan", sans-serif;
        --font-primary:     "Source Sans 3", sans-serif;
        --font-secondary:   "Barlow", sans-serif;
        --font-title:       var(--font-secondary);
        --font-body:        var(--font-primary);
        --font-icon:        "Font Awesome 6 Pro";

        
        --font-light:    300;
        --font-regular:  400;
        --font-medium:   500;
        --font-semi:     600;
        --font-bold:     700;

        
        --text-body-primary:             var(--color-greyscale-900);
        --text-body-secondary:           var(--color-greyscale-500);
        --text-body-placeholder:         var(--color-greyscale-500);
        --text-body-disabled:            var(--color-greyscale-400);
        --text-affirmative:              var(--color-green-700);

        --text-heading:                  var(--color-greyscale-900);
        

        --font-label: 400 var(--font-md)/1 var(--font-primary);
        --font-toggle: 400 .625rem/1 var(--font-primary);


    }
}

@layer utility {
    :root {
        --divider: var(--color-greyscale-200);
        --nav-height: 3rem;
        --affirmative: var(--color-green-700);
        --destructive: #DF0053;

        --gap-xs: .125rem;
        --gap-sm:  .25rem;
        --gap-md:   .5rem;
        --gap-lg:    1rem;
        --gap-xl:  1.5rem;
        --gap-xxl:   2rem;
    }
}

@layer elevation {
    :root {
        --elevation-dropdown: 0 4px 12px -4px rgb(0 0 0 / .2),
                               0 -2px 4px 0 rgb(0 0 0 / .05);
    }
}