@layer bulk-sms {

    :root {
        --testing: #f00;
        --divider: var(--color-greyscale-200);
        --module-shadow: 0 0 0 1px rgb(0 0 0 / .05),
                        0 3px 6px 0 rgb(0 0 0  / .05);

        --input-border:     var(--color-greyscale-300);
        --input-text:       var(--color-greyscale-900);
        --input-required:   var(--color-red-700);
    }

}

.bulk-sms {
    display: grid;
    place-items: center;
    margin-inline: 1rem;

    .m-modal {
        width: 100%;
        max-width: 40rem;
        padding-block: 0;
        gap: 0;
        border-radius: .5rem;
        box-shadow: var(--module-shadow);
    }

    .m-modal__header {
        position: relative;
        min-height: 5rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: .5rem;
        padding-inline-end: 2rem;

        h2 {
            font: 600 clamp(var(--font-md), 2.5vw, var(--font-lg))/1 var(--font-secondary);
            color: var(--text-heading);
        }

        p {
            font-size: clamp(var(--font-xs), 2.5vw, var(--font-sm));
            color: var(--text-body-secondary);
        }

        .modal-close {
            position: absolute;
            right: 0;
            color: var(--color-greyscale-300);

            &:hover {
                color: var(--color-greyscale-600);
            }
        }
    }

    .m-modal__body {
        display: grid;
        gap: 1.5rem;
        border: solid var(--divider);
        border-width: 1px 0 1px;
        padding-block-start: 1rem;
        padding-block-end: 1.5rem;
    }

    .m-modal__footer {
        display: flex;
        justify-content: end;
        padding-block: 1rem;
        gap: .5rem;

        [type="submit"] {
            order: 1;
        }
    }

    .m-form {
        margin: 0;
    }

    .m-form__item {
        display: grid;
        gap: .5rem;

        label {
            font: var(--font-semi) var(--font-sm)/1 var(--font-secondary);
            color: var(--input-text);

            b {
                color: var(--input-required);
                padding-inline-start: .125rem;
            }
        }

        .grow-wrapper {
            display: grid;

            &::before {
                content: attr(data-replicated-value) " ";
                white-space: pre-wrap;
                visibility: hidden;
            }
        }

        textarea,
        .grow-wrapper::before {
            font: var(--font-regular) var(--font-sm)/1.5 var(--font-primary);
            padding: 1rem;
            resize: none;
            border-radius: .25rem;
            border: none;
            box-shadow: inset 0 0 0 1px var(--input-border);
            transition: 200 box-shadow ease;
            min-height: 96px;
            grid-area: 1 / 1 / 2 / 2;

            &:focus {
                box-shadow: inset 0 0 0 2px var(--color-blue-700);
                outline: none;
            }
        }

    }
}

.m-notification--neutral {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font: 400 clamp(.8125rem, 2.5vw, var(--font-sm))/1.375 var(--font-primary);
    border-radius: .25rem;
    background: var(--color-greyscale-100);
    color: var(--color-navy-700);
    padding: .5rem;
    
    i {
        font-size: var(--font-md);
        margin-right: .25rem;
        color: var(--color-navy-500);
    }

    .text {
        padding-block-start: .25rem;
    }

    .tooltip {
        position: relative;

        button {
            text-decoration: underline;
            text-decoration-style: dashed;
            text-underline-offset: .25rem;
            text-decoration-color: var(--color-navy-300);
            color: var(--color-navy-700);
            white-space: nowrap;
    
            &:hover,
            &:focus {
                text-decoration-style: solid;
                cursor: pointer;
                
                + p {
                    visibility: visible;
                    opacity: 1;
                    transition: 200ms all ease-in-out 400ms;
                }
            }

            &:focus,
            &:focus-visible {
                outline: none;
                color: var(--color-blue-700);
                text-decoration-style: solid;
                text-decoration-color: var(--color-blue-700);
            }
        }

        p {
            font: 400 var(--font-xs)/1.375 var(--font-primary);
            color: var(--color-white);
            position: absolute;
            bottom: calc(100% + .5rem);
            left: 50%;
            translate: -50% 0;
            background: rgb(26 34 40 / .9);
            padding:  .75rem 1rem;
            border-radius: .5rem;
            width: 15rem;
            opacity: 0;
            visibility: hidden;
            backdrop-filter: blur(4px);

            &::before {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50% 0;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 6px 8px 0 8px;
                border-color: rgb(26 34 40 / .9) transparent transparent transparent;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    
    .bulk-sms {

        .m-modal {
            padding-inline: 1rem;
        }

        .m-modal__header {
            gap: .25rem;
        }

        .m-modal__footer > button  {
            flex-grow: 1;
        }
    }

}

@media screen and (max-width: 374px) {
    
    .bulk-sms {

        .m-modal__footer  {
            flex-wrap: wrap;

            button {
                width: 100%;
                
                &:first-of-type {
                    order: -1;
                }
            }
        }
    }

}