.m-page__header {
    block-size: 60px;
    inline-size: 100%;
    background: white;
    display: flex;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.m-profile {
    position: relative;
    display: flex;
    margin-inline-start: auto;


    .m-menu {
        inset: calc(100% - 4px) 1rem auto auto;
    }
}


.m-profile__btn {

    --profile-bg:          var(--color-blue-100);
    --profile-avatar-bg:   var(--color-navy-700);
    --profile-avatar-icon: var(--color-navy-300);

    background: var(--profile-bg);
    padding-inline: 1rem 2.5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-start-start-radius: 2rem;
    border-end-start-radius: 2rem;
    text-decoration: none;

    &:hover,
    &:focus-visible,
    &.is-active {
        --profile-bg: color-mix(in srgb, var(--color-blue-100), var(--color-blue-300) 20%);
        outline: none;
    }

    &::before {
        display: none;
    }
}


.m-profile__avatar {
    position: relative;
    border-radius: 50%;
    inline-size: 2rem;
    aspect-ratio: 1;
    background: var(--profile-avatar-bg);
    color: var(--profile-avatar-icon);
    
    &::before {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
    }

    &::after {
        position: absolute;
        inset: auto 0 0 auto;
        z-index: 2;
        inline-size: .5rem;
        aspect-ratio: 1;
        box-shadow: 0 0 0 2px var(--profile-bg);
        border-radius: 50%;
    }

    &.active::after {
        content: '';
        background: var(--color-green-700);
    }

    &.inactive:after {
        content: '';
        box-shadow:
            0 0 0 2px var(--color-greyscale-500) inset,
            0 0 0 2px var(--profile-bg);
        background: var(--profile-bg);
    }
}


.m-profile__img {
    position: absolute;
    z-index: 1;
    object-fit: cover;
    border-radius: 50%;
}


.m-profile__content {
    display: grid;
    gap: .125rem;
    text-align: start;
    line-height: 1;
}


.m-profile__name {
    font: 600 .875rem/1 var(--font-body);
    color: var(--text-body-primary);
    margin: 0;
}


.m-profile__status {
    font-size: .75rem;
    color: var(--text-body-secondary);
}


.m-profile__icon {
    margin-inline-start: 1rem;
    color: var(--color-blue-700);
}