sr-only,
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.m-grid--center {
    display: grid;
    place-items: center;
}

.m-flex--column {
    display: flex;
    flex-flow: column;
}

.m-gap--sm {
    gap: .25rem;
}

.m-gap--md {
    gap: .5rem;
}

.m-gap--lg {
    gap: 1rem;
}

.m-gap--xxl {
    gap: 3rem;
}


.mobile-example {
    display: grid;
    place-items: center;
    background: none;
}

.m-modal--overlay {
    display: grid;
    place-items: center;
    padding-inline: 2rem;
    text-align: center;
    max-width: 390px;
    height: 844px;
    border-radius: 32px;
    border: 1px solid #e1e1e1;

    @media screen and (max-width: 430px) {
        border: none;
        max-width: none;
    }

    .m-btn {
        height: 3rem;
    }


    .copy {
        display: grid;
        gap: .5rem;
        justify-items: center;
        margin-block-end: 2rem;

        .icon {
            width: 5rem;
            aspect-ratio: 1;
            border-radius: 50vw;
            background: #00263A;
            box-shadow: inset 0 0 0 2px rgb(255 255 255),
                        0 0 0 4px #80939D;
            margin-bottom: 2rem;
        }

        h1 {
            font: 400 1.5rem/1 system-ui, sans-serif;
            color: #1A2228;
        }
    
        p {
            font: 400 .875rem/1.5 system-ui, sans-serif;
            color: #40505B;
        }
    }

    
    small {
        font: 400 .6875rem/1.2 system-ui, sans-serif;
        color: #6A7982;
        margin-block-start: -.5rem;
    }
}

.m-group--btn {
    display: grid;
    align-items: center;
    width: 100%;
}

.m-size--fill {
    width: 100%;
}


.standin {
    position: relative;

    .m-btn:last-of-type {
        position: absolute;
        width: 100%;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: 100ms all linear 2000ms;
    }

    .m-btn.is-loading + .m-btn {
        opacity: 1;
        visibility: visible;
        background: #f3f5f7;
        color: #1A2228;
        border: 1px solid var(--btn-border);
    }
    
}

.m-list--vp {

}

.m-vp__item {
    display: grid;
    gap: .25rem;
}

.m-vp__label {
    font: 600 .75rem/1 var(--font-body);
    color: var(--text-body-primary);
}

.m-vp__value {
    font: 400 .875rem/1 var(--font-body);
    color: var(--text-body-secondary);
}


.mu-flex {
    display: flex;
}


.mu-flex--column {
    display: flex;
    flex-direction: column;
}
