html {
    font: 400 1rem/1.5 var(--font-primary);
}

body {
    background-size: 8px 8px;
    background-image: linear-gradient(to right, #f7f7f7 1px, transparent 1px), linear-gradient(to bottom, #f7f7f7 1px, transparent 1px);
}

ul,
ol,
li {
    list-style-type: none;
}

button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
}

summary {
list-style: none;
}

details {

    summary {
        background: yellow;
    }

    section {
        display: grid;
        grid-template-rows: 0fr;
        transition: 200ms grid-template-rows ease;

        ul {
            overflow: hidden;
        }
    }
}

menu {
    display: none;
}

details[open] {
    
    section {
        transition: 200ms grid-template-rows ease;
        grid-template-rows: 1fr;
    }
}