.nowrap {
    white-space: nowrap;
}

.m-mb--xs { margin-block-start: .25rem; }
.m-mb--sm { margin-block-start:  .5rem; }
.m-mb--md { margin-block-start:   1rem; }
.m-mb--lg { margin-block-start: 1.5rem; }
.m-mb--xl { margin-block-start:   2rem; }

.m-mbs--xs { margin-block-start: .25rem; }
.m-mbs--sm { margin-block-start:  .5rem; }
.m-mbs--md { margin-block-start:   1rem; }
.m-mbs--lg { margin-block-start: 1.5rem; }
.m-mbs--xl { margin-block-start:   2rem; }

.m-mbe--xs { margin-block-start: .25rem; }
.m-mbe--sm { margin-block-start:  .5rem; }
.m-mbe--md { margin-block-start:   1rem; }
.m-mbe--lg { margin-block-start: 1.5rem; }
.m-mbe--xl { margin-block-start:   2rem; }


.m-mi--xs { margin-block-start: .25rem; }
.m-mi--sm { margin-block-start:  .5rem; }
.m-mi--md { margin-block-start:   1rem; }
.m-mi--lg { margin-block-start: 1.5rem; }
.m-mi--xl { margin-block-start:   2rem; }

.m-mis--xs { margin-block-start: .25rem; }
.m-mis--sm { margin-block-start:  .5rem; }
.m-mis--md { margin-block-start:   1rem; }
.m-mis--lg { margin-block-start: 1.5rem; }
.m-mis--xl { margin-block-start:   2rem; }

.m-mie--xs { margin-block-start: .25rem; }
.m-mie--sm { margin-block-start:  .5rem; }
.m-mie--md { margin-block-start:   1rem; }
.m-mie--lg { margin-block-start: 1.5rem; }
.m-mie--xl { margin-block-start:   2rem; }



.m-pb--xs { margin-block-start: .25rem; }
.m-pb--sm { margin-block-start:  .5rem; }
.m-pb--md { margin-block-start:   1rem; }
.m-pb--lg { margin-block-start: 1.5rem; }
.m-pb--xl { margin-block-start:   2rem; }

.m-pbs--xs { margin-block-start: .25rem; }
.m-pbs--sm { margin-block-start:  .5rem; }
.m-pbs--md { margin-block-start:   1rem; }
.m-pbs--lg { margin-block-start: 1.5rem; }
.m-pbs--xl { margin-block-start:   2rem; }

.m-pbe--xs { margin-block-start: .25rem; }
.m-pbe--sm { margin-block-start:  .5rem; }
.m-pbe--md { margin-block-start:   1rem; }
.m-pbe--lg { margin-block-start: 1.5rem; }
.m-pbe--xl { margin-block-start:   2rem; }


.m-pi--xs { margin-block-start: .25rem; }
.m-pi--sm { margin-block-start:  .5rem; }
.m-pi--md { margin-block-start:   1rem; }
.m-pi--lg { margin-block-start: 1.5rem; }
.m-pi--xl { margin-block-start:   2rem; }

.m-pis--xs { margin-block-start: .25rem; }
.m-pis--sm { margin-block-start:  .5rem; }
.m-pis--md { margin-block-start:   1rem; }
.m-pis--lg { margin-block-start: 1.5rem; }
.m-pis--xl { margin-block-start:   2rem; }

.m-pie--xs { margin-block-start: .25rem; }
.m-pie--sm { margin-block-start:  .5rem; }
.m-pie--md { margin-block-start:   1rem; }
.m-pie--lg { margin-block-start: 1.5rem; }
.m-pie--xl { margin-block-start:   2rem; }


.mu-flex {
    display: flex;
}

.mu-flex--reverse {
    flex-direction: row-reverse;

    &.mu-flex--column {
        flex-direction: column-reverse;
    }
}

.mu-gap--xs { gap: .125rem; }
.mu-gap--sm { gap:  .25rem; }
.mu-gap--md { gap:   .5rem; }
.mu-gap--lg { gap:    1rem; }
.mu-gap--xl { gap:    2rem; }